<hr>

<h1> House <%= @house.name %> </h1>

<p><img class="crests" src="<%= @house.crest_url %>"></p>

<div class="box">

  <h2>Words:</h2>
  <div class="text"> <%= @house.words %> </div>

  <h2>Seat:</h2>
  <div class="text"> <%= @house.seat %> </div>

  <h2>Realm:</h2>
  <div class="text"> <%= @house.realm %> </div>

  <button type="button">
    <%= link_to "Edit House", edit_house_path(@house) %>
  </button> |
  <button type="button">
    <%= link_to "Delete House", house_path(@house), method: :delete %>
  </button>

</div>

<hr>


  <h2> House Members </h2>


<div class="house_members">


<% @house.characters.each do |character| %>
<article>
<p>
<%= link_to "#{character.name}", house_character_path(@house, character) %>
</p>

<p>
<img class="photo" src="<%= character.photo_url %>">
</p>
</article>
<% end %>


</div>

<p>
  <button type="button">
    <%= link_to "Add a New Character", new_house_character_path(@house) %>
  </button>
  </p>
