<h1><%= House.find(@character.house_id).name %></h1>

<h2><%= @character.name %></h2>

<div class="character">
  <p><%= image_tag @character.photo_url %></p>
  <p>
    <h3>Biography:</h3>
    <div class="text">
      <%= @character.bio %>
    </div>
  </p>

  <button type="button">
    <%= link_to "Edit Character", edit_house_character_path(@house, @character) %>
  </button> |
  <button type="button">
    <%= link_to "Delete Character", house_character_path(@house, @character), method: :delete %>
  </button>

</div>
